@charset "UTF-8";
/*
*  Normalization, bugfixes, workarounds, and defaults.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*  mostly adopted from http://necolas.github.com/normalize.css/ */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 40, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 50, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 59, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 69, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 82, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 96, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 104, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 119, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 129, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 141, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 150, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 154, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 162, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 170, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 180, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 192, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 202, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 215, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 222, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 227, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 237, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 244, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 248, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 264, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 268, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 278, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 287, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 303, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 312, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 325, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 338, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 346, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 358, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 374, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 386, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 400, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 411, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 423, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 435, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 447, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 457, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 467, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 481, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*  Zoomable baseline grid, with mixins intended for responsive zooming.
*  Along with some sensible typographic defaults. 
*
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* line 42, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}

/* line 52, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em;
  margin: 1.5em 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.medium, .normal, h3, p {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */
  margin: 1.5em 0;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em;
  margin: 0.923em 0;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em;
  margin: 0.571em 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.massive, h1 {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em;
  margin: 1.5em 0;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_typography.scss */
.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em;
  margin: 1.5em 0;
}

/*
*  A semantic, fluid, responsive grid system.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/*
*  A fluid, responsive-friendly form framework. 
*
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*
*  Notes on use
*  ------------
*  + Wrap field elements with label elements. 
*
*/
/*
*  Base configuration stylesheet for the takitapart CSS framework.
*  This module will be included by the other modules.
*  These variables can be overridden in your site's stylesheets.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* line 25, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_form.scss */
form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_form.scss */
form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 42, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_form.scss */
form fieldset input, form fieldset textarea, form fieldset select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  width: 100%;
  margin: 0;
  padding: 0 0.25em;
}
/* line 53, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_form.scss */
form fieldset label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
*  Print specifc style defaults. From HTML5 Boilerplate.
*
*  Part of the takitapart CSS framework [ http://takitapart.net/framework ].
*
*  See readme.md for details, licensing, and acknowledgments. 
*
*/
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 16, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 23, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* @license * MyFonts Webfont Build ID 2325892, 2012-07-17T17:10:03-0400 *  * The fonts listed in this notice are subject to the End User License * Agreement(s) entered into by the website owner. All other parties are  * explicitly restricted from using the Licensed Webfonts(s). *  * You may obtain a valid license at the URLs below. *  * Webfont: Pluto Sans Regular by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/regular/ * Licensed pageviews: 10,000 *  * Webfont: Pluto Sans Bold by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/bold/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Black by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/black/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Black by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-black/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Bold by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-bold/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond ExtraLight by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-extralight/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Heavy by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-heavy/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Light by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-light/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Medium by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-medium/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Regular by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-regular/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Cond Thin by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/cond-thin/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans ExtraLight by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/extralight/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Heavy by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/heavy/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Light by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/light/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Medium by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/medium/ * Licensed pageviews: unspecified *  * Webfont: Pluto Sans Thin by HVD Fonts * URL: http://www.myfonts.com/fonts/hvdfonts/pluto-sans/thin/ * Licensed pageviews: unspecified *  *  * License: http://www.myfonts.com/viewlicense?type=web&buildid=2325892 * Webfonts copyright: Copyright (c) 2012 by Hannes von Doehren. All rights reserved. *  * © 2012 Bitstream Inc */
@font-face {
  font-family: 'PlutoSansBlack';
  src: url("../webfonts/237D84_2_0.eot");
  src: url("../webfonts/237D84_2_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_2_0.woff") format("woff"), url("../webfonts/237D84_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansHeavy';
  src: url("../webfonts/237D84_C_0.eot");
  src: url("../webfonts/237D84_C_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_C_0.woff") format("woff"), url("../webfonts/237D84_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansBold';
  src: url("../webfonts/237D84_1_0.eot");
  src: url("../webfonts/237D84_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_1_0.woff") format("woff"), url("../webfonts/237D84_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansMedium';
  src: url("../webfonts/237D84_E_0.eot");
  src: url("../webfonts/237D84_E_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_E_0.woff") format("woff"), url("../webfonts/237D84_E_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansRegular';
  src: url("../webfonts/237D84_0_0.eot");
  src: url("../webfonts/237D84_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_0_0.woff") format("woff"), url("../webfonts/237D84_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansLight';
  src: url("../webfonts/237D84_D_0.eot");
  src: url("../webfonts/237D84_D_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_D_0.woff") format("woff"), url("../webfonts/237D84_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansExtraLight';
  src: url("../webfonts/237D84_B_0.eot");
  src: url("../webfonts/237D84_B_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_B_0.woff") format("woff"), url("../webfonts/237D84_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansThin';
  src: url("../webfonts/237D84_F_0.eot");
  src: url("../webfonts/237D84_F_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_F_0.woff") format("woff"), url("../webfonts/237D84_F_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondBlack';
  src: url("../webfonts/237D84_3_0.eot");
  src: url("../webfonts/237D84_3_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_3_0.woff") format("woff"), url("../webfonts/237D84_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondHeavy';
  src: url("../webfonts/237D84_6_0.eot");
  src: url("../webfonts/237D84_6_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_6_0.woff") format("woff"), url("../webfonts/237D84_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondBold';
  src: url("../webfonts/237D84_4_0.eot");
  src: url("../webfonts/237D84_4_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_4_0.woff") format("woff"), url("../webfonts/237D84_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondMedium';
  src: url("../webfonts/237D84_8_0.eot");
  src: url("../webfonts/237D84_8_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_8_0.woff") format("woff"), url("../webfonts/237D84_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondRegular';
  src: url("../webfonts/237D84_9_0.eot");
  src: url("../webfonts/237D84_9_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_9_0.woff") format("woff"), url("../webfonts/237D84_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondLight';
  src: url("../webfonts/237D84_7_0.eot");
  src: url("../webfonts/237D84_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_7_0.woff") format("woff"), url("../webfonts/237D84_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondExLight';
  src: url("../webfonts/237D84_5_0.eot");
  src: url("../webfonts/237D84_5_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_5_0.woff") format("woff"), url("../webfonts/237D84_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondThin';
  src: url("../webfonts/237D84_A_0.eot");
  src: url("../webfonts/237D84_A_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_A_0.woff") format("woff"), url("../webfonts/237D84_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 900;
  src: url("../webfonts/237D84_2_0.eot");
  src: url("../webfonts/237D84_2_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_2_0.woff") format("woff"), url("../webfonts/237D84_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 800;
  src: url("../webfonts/237D84_C_0.eot");
  src: url("../webfonts/237D84_C_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_C_0.woff") format("woff"), url("../webfonts/237D84_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 700;
  src: url("../webfonts/237D84_1_0.eot");
  src: url("../webfonts/237D84_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_1_0.woff") format("woff"), url("../webfonts/237D84_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: bold;
  src: url("../webfonts/237D84_1_0.eot");
  src: url("../webfonts/237D84_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_1_0.woff") format("woff"), url("../webfonts/237D84_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 500;
  src: url("../webfonts/237D84_E_0.eot");
  src: url("../webfonts/237D84_E_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_E_0.woff") format("woff"), url("../webfonts/237D84_E_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 400;
  src: url("../webfonts/237D84_0_0.eot");
  src: url("../webfonts/237D84_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_0_0.woff") format("woff"), url("../webfonts/237D84_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: normal;
  src: url("../webfonts/237D84_0_0.eot");
  src: url("../webfonts/237D84_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_0_0.woff") format("woff"), url("../webfonts/237D84_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 300;
  src: url("../webfonts/237D84_D_0.eot");
  src: url("../webfonts/237D84_D_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_D_0.woff") format("woff"), url("../webfonts/237D84_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 200;
  src: url("../webfonts/237D84_B_0.eot");
  src: url("../webfonts/237D84_B_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_B_0.woff") format("woff"), url("../webfonts/237D84_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSans';
  font-weight: 100;
  src: url("../webfonts/237D84_F_0.eot");
  src: url("../webfonts/237D84_F_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_F_0.woff") format("woff"), url("../webfonts/237D84_F_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 900;
  src: url("../webfonts/237D84_3_0.eot");
  src: url("../webfonts/237D84_3_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_3_0.woff") format("woff"), url("../webfonts/237D84_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 800;
  src: url("../webfonts/237D84_6_0.eot");
  src: url("../webfonts/237D84_6_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_6_0.woff") format("woff"), url("../webfonts/237D84_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 700;
  src: url("../webfonts/237D84_4_0.eot");
  src: url("../webfonts/237D84_4_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_4_0.woff") format("woff"), url("../webfonts/237D84_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: bold;
  src: url("../webfonts/237D84_4_0.eot");
  src: url("../webfonts/237D84_4_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_4_0.woff") format("woff"), url("../webfonts/237D84_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 500;
  src: url("../webfonts/237D84_8_0.eot");
  src: url("../webfonts/237D84_8_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_8_0.woff") format("woff"), url("../webfonts/237D84_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 400;
  src: url("../webfonts/237D84_9_0.eot");
  src: url("../webfonts/237D84_9_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_9_0.woff") format("woff"), url("../webfonts/237D84_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: normal;
  src: url("../webfonts/237D84_9_0.eot");
  src: url("../webfonts/237D84_9_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_9_0.woff") format("woff"), url("../webfonts/237D84_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 300;
  src: url("../webfonts/237D84_7_0.eot");
  src: url("../webfonts/237D84_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_7_0.woff") format("woff"), url("../webfonts/237D84_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 200;
  src: url("../webfonts/237D84_5_0.eot");
  src: url("../webfonts/237D84_5_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_5_0.woff") format("woff"), url("../webfonts/237D84_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCond';
  font-weight: 100;
  src: url("../webfonts/237D84_A_0.eot");
  src: url("../webfonts/237D84_A_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/237D84_A_0.woff") format("woff"), url("../webfonts/237D84_A_0.ttf") format("truetype");
}

/* line 49, ../sass/screen.scss */
html {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10em 5em inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10em 5em inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10em 5em inset;
  height: 100%;
}

/* line 56, ../sass/screen.scss */
body {
  display: block;
  width: 88.889%;
  margin: 0 5.556%;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/bob-vanderclay-2012-07.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "PlutoSansCond", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.25) 0 0 0.25em;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/takitapart_framework-0.0.1/stylesheets/takitapart_framework/_grid.scss */
body:after {
  clear: both;
}

/* line 70, ../sass/screen.scss */
h1 {
  color: #eebb66;
  font-family: "PlutoSans", sans-serif;
  font-weight: 700;
}

/* line 77, ../sass/screen.scss */
h2 {
  font-family: "PlutoSans", sans-serif;
  font-weight: 500;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 87, ../sass/screen.scss */
p {
  font-weight: normal;
}

/* line 91, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 95, ../sass/screen.scss */
li {
  font-weight: normal;
}

/* line 99, ../sass/screen.scss */
a {
  color: #f58723;
  font-weight: bold;
  text-decoration: none;
}

/* line 109, ../sass/screen.scss */
div.content {
  background: rgba(0, 0, 0, 0.4);
}

/* line 115, ../sass/screen.scss */
div#main {
  margin-left: 75%;
  display: block;
  float: left;
  width: 25%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
